#!/usr/bin/env zsh

# Make vim the default editor.
export EDITOR='vim';

# Add libpq to the PATH
export PATH="/usr/local/opt/libpq/bin:$PATH"

export CLICOLOR="cons25"

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';
