#!/usr/bin/env zsh

# Initialize pyenv for system-wide Python version
if command -v pyenv 1>/dev/null 2>&1; then
    eval "$(pyenv init -)"
fi

# Quickly navigate to location of installed Python packages within pyenv
pypack() {
    pypack=$(pyenv which python | sed 's|bin/python|lib/python~/site-packages|g' | sed "s/~/$(pyenv version-name | cut -c1-3)/g")
    cd $pypack
}

# Determine size of a file or total size of a directory
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* ./*;
	fi;
}

# Use Git’s colored diff when available
hash git &>/dev/null;
if [ $? -eq 0 ]; then
	function diff() {
		git diff --no-index --color-words "$@";
	}
fi;
